<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'contact', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  
<div class = "container">
 <div class = "row">
  <div class = "col-md-1", id ="div1"></div>
  <div class = "col-md-10", id ="div2">
    <h2 id = "gym">GYM</h2>
    <p id = "about">GYM is located in dublin city right next to the National College of Ireland building 10 minutes walk from Dublin City Center. Access to the GYM is free if you are a student at NCI otherwise standard monthly fee is £25.99 a month.Parking is also free if you are a student at NCI otherwise you must pay for parking and leave the recipt in your window. </p>
    <p id = "size">25,000 sq/ft</p>
    <p id = "address">Mayor Street Lower,
    <br>
    (Beside the NCI Building)
    <br>
    International Financial Services Centre,
    <br>
    Dublin</p>
    <h6 class = "opening">Opening Hours -&nbsp;
    <strong>OPEN 24 HOURS</strong></h6>
    <h6 id = "opening2">Gym Facilities:</h6>
   <div class = "container">
    <div class = "row">
      <div class = "col-md-5">
       <ul>
        <li>Huge Free Weights</li>
        <li>Over 100 FREE Classes per week</li>
        <li>Olympic Lifting Platforms</li>
        <li>High Performance Area</li>
        <li>Elieko Equipment</li>
        <li>Air Runners</li>
        <li>Assault Bikes</li>
        <li>Wall Ball Targets</li>
        <li>Functional Rigs</li>
       </ul> 
      </div>
      <div class = "col-md-5">
       <ul>
        <li>Real Ryder Spin</li>
        <li>Large Astro Zone</li>
        <li>Cardio Area</li>
        <li>Strength Machines</li>
        <li>Class Studio</li>
        <li>TRX Zone</li>
        <li>Ladies & Gents Changing Rooms</li>
        <li>Showers/Lockers</li>
      </ul> 
    </div>
      </div>
      <div id = "mapTitle">
       <h6>MAP :</h6>
      </div>

      <div id = "map"></div>
      <script>
      
      function initMap() {
        
        var uluru = {lat: 53.3491026 , lng: -6.2428121};
        
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 15, center: uluru});
        
        var marker = new google.maps.Marker({position: uluru, map: map});
      }
          </script>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiPwL4quZX4eRBgV7bYT01GR-ldaUQ71I&callback=initMap">
          </script>

    
          <%= render partial: "partial" %>

    </div>
   </div>
  <div class = "col-md-1", id:"div3"></div>
  
 <div>

</div>

    
  </body>
</html>

