// Place all the styles related to the recipies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.second{
    margin-top: 15dp;
    text-align: center;
}

  .title{
      font-weight: bold;
  }
  img {
    border-radius: 50px;
    height: 250px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 200px;
  }